<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Space-Soup</title>
</head>

<link rel="stylesheet" href="/static/home.css"/>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>Space-Soup</span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a data-after="Home">Home</a></li>
            <li><a href="/sign_up" data-after="Signup">Sign up</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <li><a href="#record"  data-after="records" ></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section -->
  <section id="hero">
    <div class="hero container">
      <div>
        <!--<h1><span></span></h1> -->
        <h1>Welcome to<span></span></h1>
        <h1>Space News Summarization <span></span></h1>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

   <!-- Add an HTML audio element to embed the audio player -->
   <center>
    <h1 class="section-title">Audio from the <span>space news</span></h1>
    <div class="audio-container">
      <audio controls>
        <source style="position: absolute; padding-top: 10vmin;" src="../../../generated_audios/generated_audio.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </center>

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>088 370 3503</h2>
            <h2>088 370 3603</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>konstantin.r.zlatev.2021@elsys-bg.org</h2>
            <h2>viktor.r.zlatev.2021@elsys-bg.org</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Bulgaria, Sofia</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->


  <!-- record section -->


<!-- Add other content and summaries here -->

<div class="contact_form">
    <div>
        <div>
            <ion-icon name="call-outline" style="position: absolute; top: 23vmin; left: 61.2%; color: white;"></ion-icon>
            <p style="position: relative; left: 135vmin; font-size: 3vmin; top: -12vmin; width: 25vmin; color:white;">089 768 9003</p>
        </div>
        <div>
            <ion-icon name="call-outline" style="position: absolute; top: 57%; left: 61.2%; color: white;"></ion-icon>
            <p style="position: relative; left: 135vmin; font-size: 3vmin; top: -8vmin; width: 25vmin; color:white;">088 569 8354</p>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <!-- end -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>S</span>pace <span>S</span>oup</h1>
      </div>
      <h2>Your cosmo-weather partner, when you need it</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/profile.php?id=100086185691128"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/viki_zlatev/"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright ©. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  
 <script src="{{url_for('static', filename='app.js')}}"></script>

</body>

</html>