.title{
    position: absolute;
    font-size: 8vmin;
    left: 95vmin;
    font-weight: bold;
    font-style: italic;
}



.contact_form {
    position: absolute;
    top: 130%;
    width: 100%;
    height: 60%;
    background-color: black;
}

.contact_text {
    position: relative;
    margin-top: 3vmin;
    left: 90vmin;
    font-size: 5vmin;
    font-weight: bolder;
    font-style: italic;
    color: white;
    user-select: none;
}

.hide {
    display: none;
}